doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.js')
  body
    block content